@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  height: 100%;
}
main {
  display: grid;
  place-items: center;
}
h1 {
  font-size: 30px;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}